.main-page {
    width: 100vw;
    height: 100vh;
    background-color: #f5f5f5;
    padding: 2% 5%;
    border: 1px solid #ddd;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50%;
}

.body{
    padding: 1%;
}
.title-box {
    display: flex;
    align-items: center;
    margin-bottom: 1%;
}

.button-group{
    display: flex;
    margin-bottom: 1%;
    width: 50vw;
    justify-content: space-between;
}

.main-page .button-container-green {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 40px;
    background-color: #B0D7AF;
    border-radius: 5px;
    border-style: none;
    padding: 2%;
    margin-top: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-weight: 200;
}

.main-page .button-container-white {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    background: #FFFFFF;
    border-radius: 5px;
    border-style: none;
    padding: 2%;
    margin-top: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.main-page .button-text {
    font-weight: 300;
    font-size: 0.8em;
    color: #363A3F;

}
.main-page .button-image {
    margin-left: 5%;
}

.main-page .button-container-green:focus,
.main-page .button-container-green:hover {
    background: #B0D7AF;
    color: black;
}

.main-page .button-container-white:focus,
.main-page .button-container-white:hover {
    background: #FFFFFF;
    color: black;
}
/* ReviewOger reloaded */
.title-text{
    margin-left: 3vw;
    font-weight: 700;
    font-size: 1.5rem;
    color: #363A3F;
}

/* Sort your review peers in groups for better Technical Reviews! Visit the HowTo Guide to learn more about this platform */
.title-subheadline{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 2em;
    color: #363A3F;
}

.participant-slots-container{
    display:flex;
    height: 60vh;
}
.slots-setup-container{
    flex-direction: column;
    width: 40vw;
}
.main-page .start-button-container{
    margin: 0 5% 0 5%;
}
.main-page .button-start{
    display: flex;
    align-self: end;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background: #B0D7AF;
    border-radius: 5px;
    border-style: none;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main-page .button-start:hover,
.main-page .button-start:focus {
    background: #B0D7AF;
    color: black;
}
.main-page .button-start-text{
    font-weight: 400;
    font-size: 1em;
    color: #363A3F;
    margin-left:10px;
}

.button-container-green:hover{
    background-color: #D1E8D0
}

table {
  border-collapse: collapse;
  border: 1px solid;
}
tr,
th,
td {
  border: 1px solid;
  padding: 3px 10px;
}











