.modal .modal-header-icon{
    color: #82868B;
    height: 20px;
    width: 20px;
}

.modal .modal-header-icon:hover {
    cursor: pointer;
}

.text-container{
    padding: 4%;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.modal .delete-title-subheadline{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 100;
    color: #363A3F;
}

.modal .footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cancel-text{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 15px;
    line-height: 14px;
    color: #F5F5F5;
}
.row{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.col{
    margin: 0 5px;
}
