.slots-button-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
    color: #363A3F;
}
.button-container-slots {
    width: 35%;
}

.slots-list-container{
    height: 25vh;
    border-radius: 5px;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 100;
    font-size: 1.5em;
}

.expand-structure-button{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
.room-properties{
    margin: 1% 0 0 0;
    list-style: none;
}
.slot-text{
    color: black;
}

.slots-infos{
    width: 100%;
    display: flex;
}
.options{
    display: inline-block;
    position: absolute;
    right: 5%;
}
.button-options-edit{
    width: 20%;
    justify-content: center;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
.button-options-delete{
    width: 20%;
    float: right;
    justify-content: center;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.overflow-container {
    overflow: auto;
    max-height: 25vh;
}

.overflow-container .list-group {
    --bs-list-group-item-padding-x: 0rem;
    --bs-list-group-item-padding-y: 0rem;
}
