/* Custom styl to remove border from modal */
.modal .modal-content {
    border: none;
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
}

/* Custom styles to remove horizontal lines in the Modal */
.modal .modal-header,
.modal .modal-body,
.modal .modal-footer {
    border: none;
    font-family: 'Roboto', sans-serif;
}

.modal .modal-header {
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #82868B;
}

.modal .modal-body {
    padding: 4%;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
}

/* Custom styles to center button in the Modal footer */
.modal .modal-footer {
    display: flex;
    justify-content: center;
}

.modal .save-button {
    margin-top: 50px;
    padding-left: 10%;
    padding-right: 10%;
    width: auto;
    height: 6vh;
    background: #B0D7AF;
    border-radius: 5px;
    border-style: none;
    color: black;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.modal .save-button:hover {
    background: #B0D7AF;
    color: black;
}

.modal .form-label {
    margin-top: .5rem;
    margin-bottom: 0;
}

.modal .form-control,
.modal .form-select {
    background: #FFFFFF;
    border: 1px solid #82868B;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 0.8rem;
}

/* Custom styles for formControl and formSelect focus */
.modal .form-control:focus,
.modal .form-select:focus {
    box-shadow:none;
    border: 2px solid;
}

.modal .modal-header-icon{
    color: #82868B;
    height: 20px;
    width: 20px;
}