.main-page {
    width: 100vw;
    height: 100vh;
    background-color: #f5f5f5;
    padding: 2% 5%;
    border: 1px solid #ddd;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 50%;
}
.body{
    padding: 1%;
}
.title-box {
    display: flex;
    align-items: center;
    margin-bottom: 1%;
}

.button-group{
    display: flex;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 45vw;
    justify-content: space-between;
}

.button-container-green {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 5vh;
    background: #B0D7AF;
    border-radius: 5px;
    border-style: none;
    padding: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.button-container-white {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 5vh;
    background: #FFFFFF;
    border-radius: 5px;
    border-style: none;
    padding: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.button-text {
    font-weight: 300;
    font-size: 1em;
    color: #363A3F;
    margin-left:10%;
}

/* ReviewOger reloaded */
.title-text{
    margin-left: 3vw;
    font-weight: 700;
    font-size: 1.5rem;
    color: #363A3F;
}

/* Sort your review peers in groups for better Technical Reviews! Visit the HowTo Guide to learn more about this platform */
.title-subheadline{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 1.5em;
    color: #363A3F;
}

.participant-slots-container{
    display:flex;
    justify-content: space-between;
}

.setup-start-container{
    display:flex;
    margin-top: 10px;
    justify-content: space-between;
}

.button-start{
    display: flex;
    align-self: end;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: 10vh;
    background: #B0D7AF;
    border-radius: 5px;
    border-style: none;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.button-start-text{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 2em;
    color: #363A3F;
    margin-left:10px;
}

.button-container-green:hover{
    background-color: #D1E8D0
}










