.participantsWindow{
    margin: 0 2% 0 0;
    width: 50vw;
}
.participant-button-container{
    display:flex;
    justify-content: space-between;
    margin: 2% 0;
}

.button-container-green-participants {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 5vh;
    background: #B0D7AF;
    border-radius: 5px;
    border-style: none;
    padding: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-description{
    font-style: normal;
    font-weight: 300;
    font-size: 1.5em;
    color: #82868B;
    padding: 0 0 1% 0;
}

.participant-list-container{
    font-style: normal;
    font-weight: 300;
    font-size: 1.2em;
    color: #82868B;
    height:75%;
    border-radius: 5px;
    padding: 1% 0 1% 0;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.participant-table{
    width: 100%;
    border-style: none;
    font-size: 1em;
 }
 .column-firstName{
     width: 12%;
 }
 .column-lastName{
     width: 13%;
 }
 .column-email{
     width: 27%;
 }
 .column-email-header{
     width: 27%;
 }
 .column-group{
     width: 8%;
 }
 .column-topic{
     width: 15%;
 }
 .column-languageLevel{
     width: 15%;
 }
 .column-options{
    width: 10%;
 }
 .column-options-buttons{
    padding-right: 30%;
 }
 .button-options-edit{
    width: 20%;
    justify-content: center;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
 }
 .button-options-delete{
    width: 20%;
    float: right;
    justify-content: center;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
 }
 .button-email{
    justify-content: center;
    background: none;
    color: inherit;
    text-decoration: underline;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
 }
