.setupWindow{
    margin: 6% 0 0 0;
    font-size: 1em;
    font-weight: 100;
}
.setupContainer{
    padding: 2vh 2vh 2vh 2vh;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.setupItems{
    padding-bottom: 5%;
}
.radio-container{
    display: flex;
    flex-direction: column;
}
