.slots-button-container{
    display:flex;
    justify-content: space-between;
    margin: 2.5% 0;
}
.button-container-green-slots {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 5vh;
    background: #B0D7AF;
    border-radius: 5px;
    border-style: none;
    padding: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.slots-list-container{
    margin-top: 6%;
    height: 25vh;
    border-radius: 5px;
    background: linear-gradient(0deg, #FFFFFF, #FFFFFF), linear-gradient(0deg, #FFFFFF, #FFFFFF), #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
