
.span-style{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #82868B;
}

.modal .footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mail-export-button-container{
    margin: 0 5% 0 5%;
}

.reviews-table-container{
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 4%;
    width: 100%;
    font-size: 1.5em;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
}
