
.span-style{
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #82868B;
}

.modal .footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.exit-icon{
    position: absolute;
    height: 25px;
    top: 25px;
    right: 25px;
    cursor: pointer;
}

.exit-icon:hover{
    border-radius: 100%;
    background-color: #908f96;
}

.modal .exit-successful-calculation-button{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
    width: auto;
    height: 20px;
    background-color: #B0D7AF;
    border-radius: 5px;
    border-style: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.modal .exit-successful-calculation-button:focus,
.modal .exit-successful-calculation-button:hover {
     background: #B0D7AF;
     color: black;
 }

.mail-export-button-container{
    margin: 0 5% 0 5%;
}
.modal .button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 30vh;
    height: 20px;
    background-color: #B0D7AF;
    border-radius: 5px;
    border-style: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    gap: 10px;
}

.reviews-table-container{
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 4%;
    width: 100%;
    font-size: 1.5em;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
}

.button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: black;
    font-size: larger;
    margin-top: 15px;
}

.similar-buttons-container{
    background-color: #cccccc;
    border-radius: 5px;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}